.leaflet-container {
	height: 500px;
	width: 76%;
	margin: auto;
}

.home-page {
	padding: 0 !important;
}

/* Customising the Clustered Markers */
.marker-cluster-custom {
    background: #9370db;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
    }